* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

.title {
    color: #39FF14;
    padding: 25px;
    font-size: 100px;
    text-align: center;
}

#main-container {
    display: flex;
    justify-content: space-evenly;
}

.interface-container {
    color: #39FF14;
}

.rules-title {
    font-size: 55px;
    text-align: center;
    border-style: solid;
    border-color: transparent transparent #39FF14 transparent;
    padding: 5px;
    margin: 10px;
}

.rules-list {
    font-size: 25px;
    list-style-position: inside;
}

ol li {
    margin: 3px;
}
#btn-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#btnReset {
    background-color: black;
    height: 60px;
    width: 150px;
    font-size: 30px;
    color: #39FF14;
    border: 2px solid white;
    border-radius: 10px;
}

#message {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.gameboard {
    background-color: #39FF14;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    margin: 0 auto;
}

.space {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.jsHover:hover {
    cursor: pointer;
    background-color: white;
}

